.myCol{
    /* display: flex; */
    /* border: 2px solid brown; */
    align-items: end;
    /* background-size: 100%; */
    /* max-width: 350px;
    min-height: 550px; */
    background-repeat: no-repeat;
    background-position: center;
}

/* .myCol img{
    min-height: 100%;
    width: 400px;
} */

.myCol1{
    /* border: 2px solid rgb(102, 255, 0); */
    /* align-items: flex-start; */
    text-align: left;
    padding-left: 5%;
}

.aboutMe-container{
    align-items: center;
    padding-left: 25%;
    padding-right: 20%;
    /* padding-bottom: 50px; */
}

.gradient-text {
    background: linear-gradient(45deg, #FFC107, blue, #FF5722);
    -webkit-background-clip: text; /* Webkit (Safari, Chrome) browsers */
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

