

.books-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  align-items: center;
  border: 2px solid red;
}

.empty-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* padding: 20px; */
  margin-bottom: 20px;
  border: 2px solid blue;
}

.row1 {
width: fit-content;
}

.category {
  background-color: purple;
  border-radius: 5px;
  display: inline-block;
  padding: 5px 5px;
  margin-bottom: 10px; /* Add some spacing between categories */
}

.category1 {
  background-color: pink;
  border-radius: 10px;
  display: inline-block;
  padding: 10px;
  margin-bottom: 20px; /* Add some spacing between categories */
}
