/* Default styles */
.books-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.empty-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 1.5rem; /* Using rem for margin */
}

.row1 {
  width: fit-content; /* Set width to fit content */
}

.category {
  background-color: purple;
  border-radius: 0.5rem; /* Using rem for border-radius */
  display: inline-block;
  padding: 0.5rem 0.5rem; /* Using rem for padding */
  margin-bottom: 1rem; /* Using rem for margin */
}

.category1 {
  background-color: pink;
  border-radius: 1rem; /* Using rem for border-radius */
  display: inline-block;
  padding: 1rem; /* Using rem for padding */
  margin-bottom: 1.5rem; /* Using rem for margin */
}

/* Responsive styles with media queries */
@media only screen and (max-width: 48rem) {
  /* Adjust styles for screens smaller than 768px */
  .category {
    padding: 1rem 1rem; /* Using rem for padding */
    margin-bottom: 1rem; /* Using rem for margin */
    border-radius: 0.1 rem;
  }

  .category1 {
    padding: 1rem; /* Using rem for padding */
    margin-bottom: 1rem; /* Using rem for margin */
    border-radius: 0.1 rem;
  }
}

@media only screen and (max-width: 36rem) {
  /* Adjust styles for screens smaller than 576px */
  .category {
    padding: 0.2rem 0.2rem; /* Using rem for padding */
    margin-bottom: 0.3rem; /* Using rem for margin */
  }

  .category1 {
    padding: 0.3rem; /* Using rem for padding */
    margin-bottom: 0.5rem; /* Using rem for margin */
  }
}
