.nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  height: 10vh;
  background-color: rgba(253, 237, 142, 0.904);
  
  /* margin-left: -250px; */
  z-index: 2;
  /* background: transparent; */
}

.nav:hover {
  color: goldenrod;
}

.nav_menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* font-size: 22.5px; */
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  flex-grow: 1;
  gap: 3rem;
  justify-content: center;
}

.hover-btn {
  transition: background-color 0.3s ease;
}

.hover-btn:hover {
  background-color: black;
}

.App-logo {
  position: absolute;
  height: 100px;
  margin: 0;
  padding-left: 10px;
  padding-top: 5px;
  left: 0;
  top: 0;
  /* margin-right: 10px; */
  /* margin-left: 10px; */
  pointer-events: none;
  transition: filter 0.3s ease; /* Transition for hover effect */
  /* border: 2px solid red; */
}

.navbar-brand {
  color: black;
  /* margin-right: -800px; */
  transition: color 0.3s ease;
}

.navbar-brand:hover {
  color: darkblue;
}

.navbar-brand:hover .App-logo {
  filter: invert(50%) sepia(100%) saturate(500%) hue-rotate(180deg);
}

.navbar-nav .nav-link {
  color: black;
}

.navbar-nav .nav-link:hover {
  color: darkblue;
}