/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa; /* Light gray background */
  }
  
  /* Header Styles */
  .empty-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  /* Skill Cards Styles */
  .gaugeDiv,
  .circleDiv,
  .linearDiv {
    width: fit-content;
    text-align: center;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    background-color: #fff; /* White background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
  }
  
  /* Hover Effects */
  .gaugeDiv:hover,
  .circleDiv:hover,
  .linearDiv:hover {
    transform: translateY(-5px); /* Move up on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhanced box shadow */
  }
  
  /* Skill Cards Container */
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  /* Text Styles */
  h2, h4, h6 {
    margin: 0;
    color: #333; /* Dark gray text */
  }
  
  /* List Styles */
  ul {
    padding-left: 0;
    margin-top: 10px;
  }
  
  li {
    list-style: none;
  }
  
  /* Add any additional styling as needed */
  