/* projects.css */

/* .projects-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
  } */
  .content {
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    text-align: left;
  }

  .card1 {
    width: 20rem; /* Increase the width of each card1 */
    height: 30rem; /* Increase the height of each card1 */
    margin-bottom: 40px; /* Adjust spacing between card1s */
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    background-color: #ffefc3;
    border: 1px solid black;
  }
  
  .card1:hover {
    /* transform: translateY(-25px) rotate(2deg);;
    box-shadow: 50px 50px 50px rgba(0, 0, 0, 0.4); */
   
    transform: translate(0%, 0%) scale(1.1); /* Zoom in effect */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Add shadow for emphasis */
    
  }
  
  .card1:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(45deg, #61dafb, #ff0000, #00ff00, #00ff00, #61dafb); */
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .card1:hover:before {
    opacity: 0.3;
    pointer-events: none;
  }
  
  .card1 img {
    width: 100%;
    height: 50%;
    object-fit: cover;
  }
  
  .card1-body {
    padding: 20px;
  }
  
  .card1-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .card1-text {
    font-size: 1rem;
    color: #555;
  }
  
  /* .btn-primary {
    background-color: #bb9429;
  color: black;
  border-color: black;
  } */
  
  .btn-primary:hover {
    background-color: #ffc219;
    border-color: black;
    color: black;
  }
  
  
  .empty-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; /* Center text horizontally */
    padding: 20px; /* Add padding for spacing */
    margin-bottom: 20px; /* Add margin below the content */
  }

  .btn-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    /* right: 0; */
    /* padding: 20px; */
  }

  /* .button {
  background-color: #bb9429;
  color: black;
} */
.button {
  background-color: #bb9429;
color: black;
border-color: black;
}