.testimonialCard {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-items: center;
    /* width: fit-content; */
    width: 20rem;
    height: 30rem;
    overflow-y: scroll;
}